.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.race-track {
  width: 1000px;
  height: 600px;
  display: flex;
  position: relative;
  background-image: url(images/dock.svg);
}

#car {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: auto;
}

.title {
  text-align: center;
  font-size: 3em;
  font-family: helvetica, sans-serif;
}

.north {
  transform: rotate(-90deg);
  transition: ease-in-out 0.5s;
}

.south {
  transform: rotate(90deg);
  transition: ease-in-out 0.5s;
}

.east {
  transform: rotate(0deg);
  transition: ease-in-out 0.5s;
}

.west {
  transform: rotate(180deg);
  transition: ease-in-out 0.5s;
}
